<div fxLayout="column" fxLayoutGap="20px">
    <a routerLink="/species">
        <button mat-raised-button color="primary">Species list</button>
    </a>

    <h2>
        {{action}} Species {{id}}
    </h2>
    <form [formGroup]="speciesForm" (submit)="saveSpecies()">
        <mat-form-field appearance="fill">
            <mat-label>Label</mat-label>
            <input matInput formControlName="label">
        </mat-form-field>

        <button mat-raised-button color="primary">Save</button>
    </form>
</div>