<div fxLayout="column" fxLayoutGap="20px">
    <a routerLink="/pets/new">
        <button mat-raised-button color="primary">Add new Pet</button>
    </a>

    <app-pets-list-table [pets]="petsStream" [displayedColumns]="displayedColumns">
        <ng-template let-pet>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/pets/{{pet.id}}/edit">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                <button mat-menu-item (click)="deletePet(pet)">
                        <mat-icon>remove</mat-icon>
                        <span>Remove</span>
                    </button>
            </mat-menu>
        </ng-template>
    </app-pets-list-table>
</div>