<div fxLayout="column" fxLayoutGap="20px">
    <a routerLink="/pets/new">
        <button mat-raised-button color="primary">Add new Pet</button>
    </a>

    <app-pets-list-table [pets]="petsStream" [displayedColumns]="displayedColumns">
        <ng-template let-pet>
            <a routerLink="/pets/{{pet.id}}/edit">
                <button mat-raised-button color="link">Edit</button>
            </a>
            <button mat-raised-button (click)="deletePet(pet)" color="warn">Remove pet</button>
        </ng-template>
    </app-pets-list-table>
</div>